#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^http://cryptoempire-local.com/ [NC]
RewriteRule ^(.*)$ http://www.http://cryptoempire-local.com//$1 [L,R=301,NC]

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
